@media (max-width: 480px) {
    #banner-inner {
        padding: 60px 30px;
    }
    #banner-img {
        height: 40px
    }
    #most-searched {
        padding: 40px 30px 80px;
    }
    h6 {
        font-size: 0.8rem
    }
    h2 {
        font-size: 2rem;
    }
    #why-cat {
        padding: 80px 30px
    }
    .cat-stats {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .stats-bars {
        margin-top: -25px;
    }
    #gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .top-entry {
        flex-direction: column;
      }
      .top-image {
        width: 100%;
        max-width: 100%;
      }      
      .top-description {
          margin-left: 0;
          margin-top: 10px;
        width: 100%;
      }
    footer {
        padding: 20px 30px;
        }
        h1 {
            font-size: 5rem;
        }
}